body{
    margin :0;
    padding:0;
    background: radial-gradient(rgba(0, 0, 0,0.7) 50%,rgba(0, 0, 0,0.7) 40%,black) ,url("/public/images/background-img.jpg");
    background-size:cover;
    background-attachment: fixed;
}
.container{
    margin-top: -60px;
   padding-left:60px;
   padding-right:60px;
}
.text-end{
    display:flex;
    margin-right:-80px;
}
.form-select{
background-color: rgb(33, 32, 32);
color:white;
border:2px solid white;
font-weight: 300px;
font-size:16px;
height:38px;
background-image: url("/public/images/down-arrow.svg");
}
.dropdown{
    margin-right: 10px;
}
.get-started{
    color:white;
    font-weight:600;
    background-color:red;

}
.hero-header{
    font-size:10000;
}
.hero-section{
    color:white;
}
.lead{
    font-size: large;
    font-weight:500;
}
.curve-container{
   
    border-radius: 50%;
    height:5px;
    width:100%;
    background:linear-gradient( to right,#DD2476,#FF512F ,#DD2476);
   margin-top:200px;
    
}

.under-curve{
    -webkit-text-size-adjust: 100%;
    font-family: Netflix Sans,Helvetica Neue,Segoe UI,Roboto,Ubuntu,sans-serif;
    color: white;
    box-sizing: border-box;
    position: absolute;
    height: auto;
    width:100%;
    background: radial-gradient(
                50% 500% at 50% -450%,
                rgba(56, 92, 235, 0.4) 80%,
                rgba(0, 0, 0, 0.1) 100%
            ),black;
background-clip: padding-box;
padding:0 170px 0 170px;
}
.trending{
    margin-bottom:50px;
}
.trending > h3 {
    padding-top:50px;  
}
.series-section{
    margin-top:30px;
    width:100%;
    height:300px;
    display:flex;
    
}
.mov-boxes img{
    margin-left:20px;
    margin-right:50px;
    height:272px;
    width:180px;
    border-radius:8px;
    cursor:pointer;
    transition-duration: 0.5s;
}
.mov-boxes img:hover{
    height:282px;
    width:190px;
    
}
/* more reasons */

.more-reasons{
    height:370px;
    width:100%; 
    margin-bottom:70px;
}
.reasons{
    display: flex;
    justify-content: space-between;
    cursor:pointer;
}
.more-reasons .reason{
  margin-top:20px;
    height:290px;
    width:280px;
    background:linear-gradient( to bottom right, #272241 50%,#210e17);
    border-radius:10px;
    padding:20px;
    position: relative;

}
.reason h4{
    font-size:25px;
}
.reason p{
    color:#aaaab5;
} 
.reason svg{
    position: absolute;
    top:200px;
    left:190px;
}

/* faq section  */
.faq-sec{
 display:flex;
    flex-direction: column;
    height:auto;
    width:100%;
margin-bottom: 140px;
}
.faq-sec h3{
   margin-bottom:20px;
}
.question{
    position:relative;
    display:flex;
    font-size:25px;
    font-weight: large;
    font-family:Arial, Helvetica, sans-serif;
    justify-content:space-between;
    align-items: center;
    max-height:84px;
    width:100%;
    padding:20px;
    background-color:#2d2d2d;
    border:none;
    color:white;
    margin-bottom:3px;
}
.question:hover{
    background-color:rgb(87, 87, 87);
    cursor: pointer;
}
.hidden-answer{
    max-height: 0;
    overflow: hidden;
     margin-top: 0.2px;
     padding: 0 10px;
     transition: max-height 0.1s ease, padding 0.1s ease;
}
.hidden-answer.active {
    max-height: 200px; 
    padding: 10px;
}
.down-em{
    position:relative;
    margin-top:20px;
    height:auto;
}
.restart{
    margin-left:45px;

}
footer{
    color:#ffffffb3;
    margin-top:80px;
}
footer li{
    cursor:pointer;
    text-decoration:underline;
    list-style-type: none;
    padding-bottom:14px;
    
}
.details{
   padding-top:20px;
   margin-left:-32px;
    display:flex;
    justify-content: space-between;
}
.bottom{
    width:110px;
    margin-top:50px;
    margin-bottom:40px;
}


